//! section gallery SCSS
.gallery {
    margin-bottom: 66px;
    // background-color: rgb(218, 255, 218); 

    .container {
        display: flex;
        flex-direction: column;

        .gallery-title {
            display: none;
        }

        .gallery-list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 65px;
            row-gap: 130px;
            
            &__item {
                flex-basis: calc((100% - 65px) / 2);
            }
            
            &__img {
                margin-bottom: 62px;
            }
            
            &__link {
                display: block;
                margin-bottom: 32px;
                font-family: var(--second-family);
                font-weight: 300;
                color: var(--color-third);
            }
            
            &__title {
                margin-bottom: 40px;
                font-weight: 400;
                font-size: 30px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        //* +++++ СТИЛІЗАЦІЯ КНОПОК - 1-й варіант +++++
        //* Використання Міксів та Модифікаторів
        // //! Загальні стилі кнопки
        // .gallery-button {
        //     align-self: center;
        //     // margin-top: 90px;
        //     padding: 20px 48px 21px 48px;
        //     font-size: 1.5rem;
        //     background-color: inherit;
        // }
        
        // //! Мікси (міксування, суміш).
        // //!  Зовнішня геометрія або позиціонування, необхідні тільки у певному місці
        // .gallery__button-firts {
        //     margin-top: 90px;
        // }
        
        // .gallery__button-second {
        //     margin-top: 10px;
        // }
        
        // //! Модифікатор - визначає зміну зовнішнього вигляду
        // .gallery-button--style-firts {
        //     color: red;
        //     background-color: aqua;
        // }
        
        // .gallery-button--style-second {
        //     color: aqua;
        //     background-color: red;
        // }

        //* +++++ СТИЛІЗАЦІЯ КНОПОК - 2-й варіант +++++
        //* Використання Директиви @extend
        //! Загальні стилі кнопки
        //? Додатковий клас:
        .button {
            align-self: center;
            padding: 20px 48px 21px 48px;
            font-size: 1.5rem;
            background-color: inherit;
        }
        //? Шаблон (плейсхолдер):
        %button {
            align-self: center;
            padding: 20px 48px 21px 48px;
            font-size: 1.5rem;
            background-color: inherit;
        }
        
        //! Стилі кнопки firts
        .gallery__button-firts {
            //? Використання додаткового класу:
            @extend .button;
            //? Використання плейсхолдерв:
            // @extend %button;
            margin-top: 90px;
            color: red;
            background-color: aqua;
        }
        
        //! Стилі кнопки second
        .gallery__button-second {
            //? Використання додаткового класу:
            // @extend .button;
            //? Використання плейсхолдерв:
            @extend %button;
            margin-top: 10px;
            color: aqua;
            background-color: red;
        }
    }
}
